<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Circle</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="bootStyle.css" rel="stylesheet" />


	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="/home" class="logo">
					<span class="symbol"><img src="img/logo.svg" alt="" /></span><span class="title">Circle</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/medication">Medication</a></li>
				<li><a href="/moodLog">Mood Log</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/appointments">Appointments</a></li>
				<li><a href="/insights">Insights</a></li>
				<li><a href="/logout">Logout</a></li>
				<li><a href="/checkin">Check-in</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1>Mood Log</h1>
				<!-- <span class="image main"><img src="img/pic13.jpg" alt="" /></span> -->
				<section>
					<h2>Check-In</h2>
					<form method="post" action="/checkin">
						<div class="row gtr-uniform p-2">
						<div class="row gtr-uniform">

							<h4 class="col-12 col-12-small">Today's Date</h4>
							<div class="col-12 col-12-xsmall">
								<input type="date" name="date" placeholder="Date" required />
							</div>


							<h4 class="col-12 col-12-small">How much sleep? </h4>
							<div class="col-12 col-12-xsmall">
								<input type="number" name="sleep" placeholder="Hours of sleep" required />
							</div>

							
						</div>
						
				


					
					
						<h4 class="col-12 col-12-small">How are you feeling: </h4>

<!-- 						
						<div class="col-2 col-2-xsmall">
							<input type="time" name="time" id="time" placeholder="Time" required />
						</div> -->

						<div class="col-2 col-12-small">
							<input type="radio" id="Amazing" name="mood" value="4, Amazing" checked required>
							<label for="Amazing">Amazing</label>
						</div>
						<div class="col-2 col-12-small">

							<input type="radio" id="Good" name="mood" value="3, Good">
							<label for="Good">Good</label>
						</div>
						<div class="col-2 col-12-small">

							<input type="radio" id="Okay" name="mood" value="2, Okay">
							<label for="Okay">Okay</label>
						</div>

						<div class="col-2 col-12-small">
							<input type="radio" id="poor" name="mood" value="1, Poor">
							<label for="poor">Poor</label>
						</div>


						<div class="col-2 col-12-small">

							<input type="radio" id="Terrible" name="mood" value="0, Terrible">
							<label for="Terrible">Terrible</label>
						</div>
                        
						<h4 class="col-12 col-12-small">Stress Level: </h4>
						<div class="col-2 col-12-small">
							<input type="radio" id="stress5" name="stress" value='2, Very High' checked required>
							<label for="stress5">Very High</label>
						</div>
						<div class="col-2 col-12-small">

							<input type="radio" id="stress4" name="stress" value="1, High">
							<label for="stress4">High</label>
						</div>
						<div class="col-2 col-12-small">

							<input type="radio" id="stress3" name="stress" value="0, Mid">
							<label for="stress3">Mid</label>
						</div>

						<div class="col-2 col-12-small">
							<input type="radio" id="stress2" name="stress" value="-1, Low">
							<label for="stress2">Low</label>
						</div>
						<div class="col-2 col-12-small">

							<input type="radio" id="stress1" name="stress" value="-2, Very Low">
							<label for="stress1">Very Low</label>
						</div>

						<h4 class="col-12 col-12-small">Energy Level: </h4>

						<div class="col-2 col-12-small">
							<input type="radio" id="Very High" name="energy" value="2, Very High" checked>
							<label for="5" required>Very High</label>
						</div>
						<div class="col-2 col-12-small">

							<input type="radio" id="4" name="energy" value="1, High">
							<label for="4">High</label>
						</div>
						<div class="col-2 col-12-small">

							<input type="radio" id="3" name="energy" value="0, Mid">
							<label for="3">Mid</label>
						</div>

						<div class="col-2 col-12-small">
							<input type="radio" id="2" name="energy" value="-1, Low">
							<label for="2">Low</label>
						</div>
						<div class="col-2 col-12-small">

							<input type="radio" id="1" name="energy" value="-2, Very Low">
							<label for="1">Very Low</label>
						</div>

					
				
							
								<h4 class="col-12 col-12-small">Journal Entries</h4>

								
								<div class="col-12 col-12-small">
									<textarea name="moodNotes" id="moodNotes" placeholder="Enter your message" rows="6"></textarea>
								</div>
								
							
							
				

						<h4 class="col-12 col-12-small">Took Medications</h4>


						<div class="col-2 col-12-small">
							<input type="radio" id="Yes" name="medsTaken" value="Yes" required>
							<label for="Yes">Yes</label>
						</div>
						<div class="col-2 col-12-small">

							<input type="radio" id="No" name="medsTaken" value="No">
							<label for="No">No</label>
						</div>
						


					

						<h4 class="col-12 col-12-small">What did you do today?</h4>

						

						<div class="col-2 col-12-small">
							<input type="checkbox" id="physicalActivity" value="Physical Activities" name="activities">
							<label for="physicalActivity">Physical Activity</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="checkbox" id="socialized" value="Socialized with Friends" name="activities">
							<label for="socialized">Socialized with Friends</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="checkbox" id="relaxed" value="Relaxed" name="activities">
							<label for="relaxed">Relaxed</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="checkbox" id="work" value="Worked" name="activities">
							<label for="work">Worked</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="checkbox" id="meal" value="Had a Meal" name="activities">
							<label for="meal">Had a Meal</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="checkbox" id="hobby" value="Enjoyed a Hobby" name="activities">
							<label for="hobby">Enjoyed a hobby</label>
						</div>
						<div class="col-2 col-12-small">
							<input type="checkbox" id="cleaned" value="Cleaned up" name="activities">
							<label for="cleaned">Cleaned up</label>
						</div>

						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" class="primary" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
					
					</form>
			</section>
		</div>
	</div>



	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="moodLog.js"></script>
	<script src="bootScript.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>